{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/banner.jpeg' %}" width="1200" height class="rounded mx-auto d-block">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="./store.html" class="btn btn-outline-primary float-right">Ver Todo</a>
	<h3 class="section-title">Productos populares</h3>
</header><!-- sect-heading -->

	
<div class="row">
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="/1006.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Raice Colling</a>
				<div class="price mt-1">$60.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/02.png' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Corriente con Pollo</a>
				<div class="price mt-1">$14.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="/800.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Porcion Arroz especial</a>
				<div class="price mt-1">$13.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="/700.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Porcion Arroz Valenciana</a>
				<div class="price mt-1">$8.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/01.png' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">ChopSuey Pequeño</a>
				<div class="price mt-1">$19.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="/500.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Low Mein Pequeño</a>
				<div class="price mt-1">$22.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="/1002.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Chow Mein Pequeño</a>
				<div class="price mt-1">$22.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="/1004.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Spaguetti Pequeño</a>
				<div class="price mt-1">$20.000</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}